html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button{
    margin-top: 20%;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    /* color: #313133; */
    background: rgb(99, 168, 233);
    background: linear-gradient(90deg, rgb(108, 186, 223) 0%, rgb(179, 139, 216) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 5px 5px 5px rgba(79, 161, 209, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button:active::before{
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgb(118, 66, 148); 
    box-shadow: 0 0 50px rgba(130, 89, 168, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 2s;
    transition-timing-function: linear;
  }
  
  .button:hover {
    /* color: #313133; */
    transform: translateY(-10px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after,  button:hover:after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(90, 148, 224);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after{
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }